---
import MainLayout from "../../../layouts/mainLayout.astro";
import ArtworkPostLayout from "../../../layouts/artworkPostLayout.astro";

import artworks from "../../../../posts2/descriptions.json"; // Import JSON file
---

<MainLayout title="home" description="hi" activePage={1} sidebarPage={1}>

    <div id="Works" class="section f">

        <div class="img-with-info">
            <div class="description-box f">
            <h2><b>selected works</b></h2>
            <p>some, selected works</p>
            </div>

        </div>
    
    </div>


    {artworks.map((artwork) => (
        <ArtworkPostLayout 
          imageName={artwork.imageName} 
          title={artwork.title} 
          year={artwork.year} 
          description={artwork.description} 
          size={artwork.size} 
          yesNo={artwork.yesNo} 
        />
    ))}
</MainLayout>
