---
import { Image } from 'astro:assets';
import { number } from 'astro:schema';

interface Props {
    imageName: string; 
    title: string;
    year: number; 
    description: string;
    size: string;
    yesNo: string;
    imageHeight: number;
    imageWidth: number;
}

const { imageName, title, year, description, size, yesNo, imageHeight, imageWidth } = Astro.props;
---

<div class="img-with-info">
    <div class="description-box f">
        <h2><i><b>{title}</b></i>, {year}</h2>
        <p><h3>{description}</h3><br>{size}</p>
        <p>{yesNo}</p>
    </div>
    
    <div class="img-with-border">
        <div class="image-wrapper">
            <Image 
            src={`/public/posts2/${imageName}.jpg`} 
            alt={title}
            width={imageWidth}
            height={imageHeight} />
        </div>
    </div>
</div>
